@layer base {
	:root {
		--font-monospace: 'DM Mono', monospace;
		--font-sans-serif: 'DM Sans', arial, sans-serif;

		--sub-background-color: #181823;
		--background-color: #292437; /* #262232; /* #282A36 */
		--highlight-color: #38314b; /* #403A53; /* #44475A */
		--comment-color: #6272A4;
	 	--text-color: #F8F8F2;
		--primary-color: #50FA7B;
		--string-color: #F1FA8C;
		--keyword-color: #FF79C6;
		--meta-color: #BD93F9;
		--name-color: #8BE9FD;
		--parameter-color: #FFB86C;
		--error-color: #FF5555;
	}
	html, body {
		width: 100%; margin: 0;
	}
	body {
		padding-top: 4.5rem;
		color: rgb(255 255 255 / 80%); background: var(--sub-background-color);
		font: 1rem / 1.75 var(--font-sans-serif);
	}
	.sr-only {
		width: 1px; height: 1px; padding: 0; margin: -1px;
		position: absolute;
		overflow: hidden;
		clip-path: inset(50%);
	}
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2rem;
	}
	h3 {
		font-size: 1.75rem;
	}
	code {
	    padding: .125em .5em;
		background-color: var(--background-color);
	    border-radius: 0.5em;
		font-family: var(--font-monospace);
	}
	a {
		color: var(--name-color);
		text-decoration: none;
	}
	a:hover {
		text-decoration: .125em underline;
		text-decoration-skip-ink: none;
		text-underline-offset: .25em;
	}
	.badge {
		padding: .125em .5em;
		color: var(--background-color); background-color: var(--meta-color);
		border-radius: 2em;
		font-weight: 900;
	}
}

p:first-child foo-bar {
	color: red;
	p:first-child foo-bar {
		color: red;
	}
}

