@layer base {
	:root {
		--font-monospace: 'DM Mono', monospace;
		--font-sans-serif: 'DM Sans', arial, sans-serif;

		--sub-background-color: #181823;
		--background-color: #292437;
		--highlight-color: #38314b;
		--comment-color: #6272A4;
	 	--text-color: #F8F8F2;
		--primary-color: #50FA7B;
		--string-color: #F1FA8C;
		--keyword-color: #FF79C6;
		--meta-color: #BD93F9;
		--name-color: #8BE9FD;
		--parameter-color: #FFB86C;
		--error-color: #FF5555;
	}
	html, body {
		width: 100%; margin: 0;
		scroll-behavior: smooth; scroll-padding: 6rem 0;
	}
	body {
		padding-top: 4.5rem;
		color: var(--text-color); background: var(--sub-background-color);
		font: 1rem / 1.75 var(--font-sans-serif);
	}
	.sr-only {
		width: 1px; height: 1px; padding: 0; margin: -1px;
		position: absolute;
		overflow: hidden;
		clip-path: inset(50%);
	}
	h1 {
		margin: 1.5em 0 1em;
		font-size: 3rem;
	}
	h2 {
		margin: 2em 0 1em;
		font-size: 2rem;
	}
	h3 {
		margin: 1em 0 .5em;
		font-size: 1.75rem;
	}
	code {
		padding: .125em .5em;
		background-color: var(--background-color);
		border-radius: 0.5em;
		font-family: var(--font-monospace);
		ui-callout & { padding: .125em .25em; }
	}
	a {
		color: var(--name-color);
		text-decoration: .1em underline;
		text-underline-offset: .3em;
		transition: text-underline-offset .15s;
		&:hover { text-underline-offset: .2em; }
		&[href^="http"]::after {
			content: url("data:image/svg+xml, \
				%3Csvg viewBox='0 0 10 10' xmlns='http://www.w3.org/2000/svg'%3E \
					%3Cpath d='M6 1H9V4V1L4 6M4 2H1V9H8V6' stroke='%238BE9FD' fill='none' stroke-linejoin='round' stroke-linecap='round'/%3E \
				%3C/svg%3E \
			");
			display: inline-block; width: .875rem; margin: 0 0 0 .5ch;
			line-height: .875rem;
		}
	}
	.badge {
		padding: .125em .5em;
		color: var(--background-color); background-color: var(--meta-color);
		border-radius: 2em;
		font-weight: 900;
	}

	#under-construction-banner {
		display: block; width: min(1200px, 90%); padding: .5rem;
		position: fixed; inset: auto auto 2rem 50%; translate: -50% 0; z-index: 1000;
		background: var(--background-color);
		border: medium solid var(--string-color); border-radius: 2.25rem;
		box-shadow: 0 0 10px 5px var(--sub-background-color);
		font-weight: normal;
		cursor: pointer;
		& b { margin-right: .5ch; }
		& ui-icon {
			margin-left: .25rem;
			color: var(--string-color);
		}
		& ui-button {
			margin-left: auto;
			border-radius: 50%;
		}
		& summary {
			display: flex;
			align-items: center;
			list-style: none;
		}
		& ul {
			list-style: none;
			padding: 1rem 2.5rem; margin: 0;
		}
		& label {
			display: flex;
			align-items: center; gap: 0 2rem; flex-wrap: wrap;
			white-space: nowrap;
		}
		& progress {
			flex: 1 0 0;
			min-width: 100px; max-width: 80%; height: .75rem; margin: .75rem 0 .75rem auto;
			background-color: var(--comment-color);
			border: none; border-radius: 1rem;
			&::-moz-progress-bar,
			&::-webkit-progress-bar { background: var(--primary-color); }
		}
	}
}
