@layer layout {
	main {
		display: grid; padding: 2rem;
		grid: "aside content ." auto / 1fr auto 1fr;
	}
	article {
		grid-area: content;
		width: min(90vw, 100%); max-width: 45rem; margin: 0 auto;
	}
	aside {
		grid-area: aside; place-self: stretch end;
		min-width: 14rem; margin-right: clamp(3rem, 25vw - 12.5rem, 5rem);
		position: relative;
	}
	@media (width <= 800px){
		aside { display: none; }
		main { grid: "content" auto / 1fr; }
		:is(h1, h2, h3, h4, h5, h6) a { display: none; }
	}
	ui-code {
		margin: 2rem 1rem;
	}
	h1, h2, h3, h4, h5, h6 {
		position: relative;
		& a {
			padding: 0 .25em 0 0;
			position: absolute; inset: 0 100% 0 auto;
			color: var(--comment-color);
			text-decoration: none;
			&::before {
				transition: opacity .2s;
				content: "#";
			}
		}
		&:not(:hover) a::before { opacity: 0; }
	}
}
