@font-face {
	font-family: 'DM Sans';
	font-weight: 400;
	font-display: swap;
	src: url("/-/fonts/dm-sans.ttf");
}

@font-face {
	font-family: 'DM Sans';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("/-/fonts/dm-sans-italic.ttf");
}

@font-face {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url("/-/fonts/dm-sans-bold.ttf");
}

@font-face {
	font-family: 'DM Mono';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url("/-/fonts/dm-mono.ttf");
}

