#download-latest {
	display: flex; margin: 3rem auto;
	justify-content: center; gap: 2rem;
	& a {
		display: flex; min-width: 10rem; padding: 1rem;
		flex-direction: column; align-items: center; gap: .5rem;
		color: var(--text-color); background-color: var(--background-color);
		border-radius: 1rem;
		text-decoration: none;
		transition: background-color .2s;
		&:hover { background-color: var(--highlight-color); }
	}
	& ui-button {
		height: auto;
		line-height: 2rem;
		text-align: center;
	}
	& ui-icon {
		display: block; width: 2.5rem; height: 2.5rem; padding: 0; margin: .5rem;
	}
}

ui-icon[type=production]{ color: var(--keyword-color); }
ui-icon[type=development]{ color: var(--meta-color); }


.version {
	display: grid; margin: 3rem 0;
	grid: "title lib dev" auto "time hash hash" auto / 1fr auto 3rem; gap: .25rem .5rem;
	& h3 {
		place-self: center start;
		margin: 0;
	}
	.download-lib { grid-area: lib; }
	.download-dev { grid-area: dev; }
	& > a {
		place-self: center end;
		height: 3rem;
		background-color: var(--background-color);
		border-radius: .5rem;
		text-decoration: none;
		transition: background-color .2s;
		&:hover { background-color: var(--highlight-color); }
	}
	.timestamp {
		color: var(--comment-color);
	}
	.hash {
		grid-column: span 2;
		place-self: center end;
		color: var(--comment-color);
	}
	& p, ul {
		grid-column: span 3;
	}
	& p {
		margin: 1rem 0;
	}
	& ul {
		margin: 0;
	}
}
